body {
  margin: 0;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;

  a {
    font-weight: bold;
    color: $dark;
    text-decoration: none;

    &[target="_blank"]::after {
      content: "\2750";
      font-size: 10pt;
      font-weight: normal;
      vertical-align: super;
    }

    &.router-link-exact-active {
      color: $secondary;
    }
  }
}
